body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: white;
    color: white;
    padding: 1rem 0;
    background-color: #f5e89d;
    height: 1Opx;
    background: url("nav.jpg");
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(270deg, #ff0000, #ff7300, #ffeb00, #00ff00, #007bff, #6f00ff);
    background-size: 400% 400%;
    animation: gradientBG 6s ease infinite;
    color: white;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.ab {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 150px;
    gap: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease-out ;
}
.ab a {
    color: #f4f4f4;
}
.ab a:hover {
    transform: scale(1.1);
}
.btn {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}
nav h1 {
    text-align: left;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}
nav span {
    font-weight: bold;
    color: white;
}
.xy h1{

    align-items: center;
}


main {
    margin: 2rem auto;
    width: 80%;
    background-color: #d8e1e6;
    
}

#search {
    background-color: #d8e1e6;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 1rem;
}
.input{
    width: 50px ;
    height: 10px;
}


button {
    width: 100px;
    padding: 0.5rem;
    background-color: #5932e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #468fa1;
}



